<div class="row mt-3">
    <table class="table table-striped datatable" id="tabla_cycle" style="width: 100%;">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>