
    

<div class="row mt-3">
    <button id="btn_new_comment" class="btn btn-warning col-1 mb-1">New Comment</button>
    <table class="table table-striped datatable" id="tabla_comment" style="width: 100%;">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Comment</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal_comments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comment</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Comment:</label>
                    <textarea class="form-control" id="comment" placeholder="Enter comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btn_save_comment" class="btn btn-primary">Save Comment</button>
            </div>
        </div>
    </div>
</div>