<form class="form-inline">
    <input type="file" id="inp_files" />
    <button id="btn_new_document" class="btn btn-warning col-1">Save Document</button>
</form>

<div class="row mt-3">
    <table class="table table-striped datatable" id="tabla_documents" style="width: 100%;">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Document</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>