
<div class="row mb-3" style="margin-left: 0%;">
    <label for="company" class="col-sm-1 col-form-label label_input" >Planification<i class="asterisco_rojo"></i></label>
    <div class="col-sm-11">
        <input type="text" class="form-control" id="planification" name="planification">
    </div>
</div>

<div class="row mb-3" style="margin-left: 0%;">
    <label for="company" class="col-sm-2 col-form-label label_input" style="width:10%;">Released Date<i class="asterisco_rojo"></i></label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="released_date" name="released_date">
    </div>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Product description: type of product, market, similar products from competitors...</label>
    <textarea class="form-control" id="product_description" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Please, confirm that your proposal is not patent protected.</label>
    <textarea class="form-control" id="patent_proposal" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Regulations that follows / Claims / Allergens/ Labelling / Additional regulatory requirements:</label>
    <textarea class="form-control" id="regulations" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Flavourings and texture:</label>
    <textarea class="form-control" id="flavourings" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Nutricional information</label>
    <textarea class="form-control" id="nutritional_info" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Specific needed or forbidden ingredients (by regulation in force, internal policy, patented, etc.)</label>
    <textarea class="form-control" id="specific_needed" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Physical-chemical requirements: pH, density, osmolarity, viscosity, others...</label>
    <textarea class="form-control" id="physical_requirements" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Target cost of ingredients<i class="asterisco_rojo"></i></label>
    <textarea class="form-control" id="target_cost" rows="3" name="target_cost"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Instructions of use, conservation and specific features, and best before date:</label>
    <textarea class="form-control" id="instructions_use" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Releasing parameters (certificate of analysis)</label>
    <textarea class="form-control" id="releasing_params" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Primary packaging: type, capacity, material, colour, codification and specific features.<i class="asterisco_rojo"></i></label>
    <textarea class="form-control" id="primary_packaging" rows="3" name="primary_packaging"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Secondary packaging: type, packaging material, label type, codification and labelling,other specific features.<i class="asterisco_rojo"></i></label>
    <textarea class="form-control" id="secondary_packaging" rows="3" name="secondary_packaging"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Estimated manufacturing volume per year<i class="asterisco_rojo"></i></label>
    <textarea class="form-control" id="volume_per_year" rows="3" name="volume_per_year"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Sell-by date</label>
    <textarea class="form-control" id="sell_by_year" rows="3"></textarea>
</div>

<div class="form-group mb-3">
    <label for="exampleFormControlTextarea1" class="label_text_area">Under consideration in HAPPCC System:</label>
    <textarea class="form-control" id="happpcc_system" rows="3"></textarea>
</div>



