@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index" asp-controller="Home" asp-action="MargenBruto" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-coins"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Margen Bruto</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index" asp-controller="Home" asp-action="ConfiguracionCentroCoste" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-building"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Configuración Centros de Coste</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index" asp-action="Usuarios" asp-controller="Home" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-user"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Usuarios</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index" asp-controller="Home" asp-action="SIE" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-file-invoice-dollar"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">SIE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index"asp-controller="Home" asp-action="ConfiguracionCuentasContables" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-money-bill"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Configuración Cuentas Contables</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>

    <div class="row">
        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index"  asp-action="Presupuestos" asp-controller="Home" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-clipboard-list"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Presupuesto</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-12 mt-5">
            <a class="enlace-index" asp-controller="Home" asp-action="ConfiguracionReferencias" OnClick="helper.stop_all_ajax()">
                <div class="card bg-light pastilla-index card-hover">
                    <div class="row h-100 my-auto">
                        <div class="col-md-4 justify-content-center align-self-center text-center mt-3 mt-md-0">
                            <i class="fa fa-2x fa-cogs"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Configuración Referencias</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
