

<a href="@Context.Request.Headers["Referer"].ToString()" data-bs-toggle="tooltip" data-bs-placement="right" title="Go back" class="btn btn-outline-secondary btn-sm"><i class="fa fa-arrow-left"></i></a>