<div id="AjaxLoader" style="display: none;">
    <div class="divCargando">
        <img alt="Cargando..." src="~/img/cargando.gif" />
    </div>
    <div class="divCargando_ventanaCompleta">
    </div>
</div>
